<%- include('_header.ejs') -%>
        <form class="form-control" method="POST" action="/content">
            <span class="form-control">
               Write Your Text
            </span>
            <input class="form-control" type="text" name="title" placeholder="title">
            <input class="form-control" type="text" name="email" placeholder="Email">
            <input class="form-control" type="text" name="author" placeholder="author">
            <input class="form-control" type="text" name="KEY" placeholder="KEY">
            <textarea class="form-control" name="description" placeholder="description"></textarea>
            <input type="submit" value="Login" class="btn btn-primary btn-block" />
        </form>
    </div>
</div>
<%- include('_footer.ejs') -%>



